.hidden {
    display: none;
}

body.dark {
    background-color: #333333;
    color: white;
}

header{
    text-align:  center;
    padding-bottom: 10px;
    border-bottom: 1px solid red;
}

h1{
    font-size: 45pt;
    color: #2EE59D;
}

#setup-game {
    display: flex;
    justify-content: center;
}

button{
    justify-self: center;
}
#setup-game > *{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

p#timer, p#lives{
    color: red;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#game{
    display: flex;
    justify-content: center;
}

#number-container > p{
    border: 1px solid black;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#board{
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
    color: rgb(243, 6, 203);
}

.tile {
     border: 1px solid black;
     width: 60px;
     height: 60px;
     text-align: center;
     margin: 0px;
     vertical-align: middle;
     font-size: 40px;
}

p.selected {
    background-color: rgb(9, 248, 9);
}

p.incorrect{
    color: red;
}

.rightBorder {
    border-right: 4px solid black;
}

.bottomBorder {
    border-bottom: 4px solid black;
}

footer{
    background-color: lightgray;
    text-align: center;
}

button {
 padding: 1.3em 3em;
 font-size: 12px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: 500;
 color: #000;
 background-color: #fff;
 border: none;
 border-radius: 45px;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
}

button:hover {
 background-color: #2EE59D;
 box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
 color: #fff;
 transform: translateY(-7px);
}

button:active {
 transform: translateY(-1px);
}
